<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<body>

<h2>Available Events 🎟</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>

    {% for event in events %}
    <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.event_date }}</td>
        <td>{{ event.location }}</td>
        <td>
            <a href="/book_event/{{ event.id }}">Register</a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>